<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>movie-cognition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>098D1FAD1E447A160009260E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>098D1FC41E447A170009260E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>098D1FCF1E447A170009260E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
